html, body {
      margin: 0;
      padding: 0;
      background: #000;
  color:#ffffff;
      overflow: hidden;
      height: 100%;
      font-family: 'Segoe UI', sans-serif;
    }

    canvas {
      display: block;
      width: 100%;
      height: 100%;
    }

    .instruction {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5rem;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 4px;
      user-select: none;
      pointer-events: none;
      text-align: center;
      z-index: 10;
 
    }
